DATABASE_URL="postgresql://neondb_owner:npg_eb84sOTfnrRC@ep-lucky-frog-aeqe34s6-pooler.c-2.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require"

# BulkSMSBD API
BULKSMSBD_API_KEY="UivVa73bujGUIqNCr6s6"
BULKSMSBD_SENDER_ID="8809617625025" # Fill this in with your approved Sender ID
